PORT=

# Database configuration
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=db_book
DB_DIALECT=mysql

#JWT
JWT_SECRET=
JWT_EXPIRES_IN=

# REDIS configuration
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

# OTP configuration
OTP_EXPIRATION_TIME=
OTP_MAX_ATTEMPTS=
OTP_SHORT_COOLDOWN=
OTP_LONG_COOLDOWN=

# MAIL configuration
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=
MAIL_FROM_NAME=

# Upload configuration
UPLOAD_DIR=
MAX_SIZE=

# Google configuration
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

# ES configuration
ELASTIC_NODE=
ELASTIC_USER=
ELASTIC_PASSWORD=